<!DOCTYPE html>
<html data-ng-app="addBugApp">
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../JS/addbug.js"></script>
<link rel="stylesheet" href="../CSS/addbug.css">
</head>
<body data-ng-controller="addBugAppCtrl">

	<header id="heading">
		<nav>
			<h2 align="center">
				<i><b>Crowd Sourced Testing</b></i>
			</h2>
		</nav>
	</header>

	<nav class="navbar navbar-default">
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
					<li><a href="#" data-ng-click="back()"><span><button type="button" class="btn btn-primary"
							data-ng-click="back()">Back</button></span></a></li>
				</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a><button type="button" class="btn btn-primary"
							data-ng-click="dashboard()">Dashboard</button> </a></li>
				<li><a><button type="button" class="btn btn-primary"
							data-ng-click="logout()">Log Out</button> </a></li>
			</ul>
		</div>
	</nav>

	<div class="page-header">
		<h1 align="center" style="color: maroon">Add Bugs</h1>
	</div>
	<!--   <div data-ng-controller="registerController">-->
	<div class="container" style="padding-top: 10px">
		<div class="panel panel-default">
			<div class="panel-body">
				<form>

					<div class="row">
						<label class="col-md-4 control-label" for="ProjName"></label>
						<div class="col-md-4 center-block" style="padding-top: 10px"
							align="left">
							<strong><lable for="projname" class="control-lable">Project
								Name:</label></strong> <input type="text" ng-model="projName"
								class="form-control" id="projname" placeholder="Project Name" />
						</div>
					</div>
					<div class="row">
						<label class="col-md-4 control-label" for="bugtype"></label>
						<div class="col-md-4 center-block" style="padding-top: 10px"
							align="left">
							<strong><lable for="bugtype" class="control-lable">Bug
								Type:</label></strong> <input type="text" data-ng-model="bugType"
								class="form-control" id="bugtype" placeholder="Bug Type" />
						</div>

					</div>

					<div class="row">
						<label class="col-md-4 control-label" for="BugDesc"></label>
						<div class="col-md-4 center-block" style="padding-top: 10px"
							align="left">
							<strong><lable for="bugdesc" class="control-lable">Bug
								Description:</label></strong> <input type="text" data-ng-model="bugDesc"
								class="form-control" id="bugdesc" placeholder="Bug Description" />
						</div>
					</div>
					<br>
					<div align="center">
						<button type="button" class="btn btn-primary"
							data-ng-click="addBug()">Add</button>
					</div>

				</form>
			</div>
		</div>

	</div>
</body>
</html>




