<!DOCTYPE html>
<html data-ng-app="loginApp">
<head>
<title>Tester Login</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- AngularJS script -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="https://code.angularjs.org/1.4.7/angular-messages.js"></script>
<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../JS/login.js"></script>
<link rel="stylesheet" href="../CSS/login.css" />
</head>
<body data-ng-controller="loginController">
	<header id="heading">
		<nav>
			<h2 align="center">
				<i><b>Crowd Sourced Testing</b></i>
			</h2>
		</nav>
	</header>
	<div class="container">
		<p>
			<br />
		</p>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3 align="center">
								<b>Login</b>
							</h3>
							<img align="middle" src="../images/login.jpg"
								class="img-responsive" alt="Responsive image" width=100%>
						</div>
						<form name="loginForm">
							<div class="form-group">
								<label for="email1">Email address</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"> <span
										class="glyphicon glyphicon-user"></span></span> <input type="email"
										name="userEmail" class="form-control" id="email1"
										placeholder="Email" data-ng-model="email_id" required>

								</div>
								<div class="form-group">
									<label for="password1">Password</label>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon1"><span
											class="glyphicon glyphicon-star"></span></span> <input
											type="password" name="userPassword" class="form-control"
											id="password1" placeholder="Password"
											data-ng-model="password" required>
									</div>

								</div>
								<div class="form-group">
									<label for="role">Role</label>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon1"><span></span></span>
										<select name="Categories" data-ng-model="userFlag">
											<option value="" selected="selected">Role</option>
											<option value="tester">Tester</option>
											<option value="client">Client</option>
											<option value="admin">Admin</option>
										</select>
									</div>

								</div>
							</div>
							<button type="login" class="btn btn-success"
								data-ng-click="register()">
								<span class="glyphicon glyphicon-registration-mark"></span>Register
							</button>
							<button type="login" class="btn btn-primary"
								data-ng-click="login()">
								<span class="glyphicon glyphicon-lock"></span>Login
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>