<!DOCTYPE html>
<html data-ng-app="registerApp">
<head>

<title>Client Registration</title>
<!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- AngularJS script -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="../JS/register.js"></script>
<link rel="stylesheet" href="../CSS/register.css">
</head>
<body data-ng-controller="registerAppCtrl">
	<header id="heading">
		<nav>
			<h2 align="center">
				<i><b>Crowd Sourced Testing</b></i>
			</h2>
		</nav>
	</header>
	<h3 align="center">Registration Page</h3>

	<div>
	<img src="../images/register_icon.jpg"
					class="img-responsive" alt="Responsive image">
					<br>
		<div class="container">

			<div class="row">
				<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="registerForm">
							<strong> <label for="first_name" class="class-label">Name:</label></strong>
							<div class="row">
								<div class="col-md-6" style="padding-top: 10px">
									<input type="text" data-ng-model="first_name"
										class="form-control" id="firstName" placeholder="First"
										required />
								</div>
								<div class="col-md-6" style="padding-top: 10px">
									<input type="text" data-ng-model="last_name"
										class="form-control" id="lastName" placeholder="Last" required />
								</div>
							</div>

							<div class="row">
								<div class="col-md-6" style="padding-top: 10px">
									<strong><label for="email" class="control-lable">Email
											Address:</label></strong> <input type="text" data-ng-model="email_id"
										class="form-control" id="email" placeholder="Email Address"
										required />
								</div>
							</div>

							<div class="row">
								<div class="col-md-6" style="padding-top: 10px">
									<strong><label for="password" class="control-lable">Password:</label></strong>
									<input type="password" data-ng-model="password"
										class="form-control" id="password"
										placeholder="Enter your password" required />
								</div>

								<div class="col-md-6" style="padding-top: 10px">
									<strong><label for="confirmpassword"
										class="control-lable">Confirm Password:</label></strong> <input
										type="password" data-ng-model="confirmPassword"
										class="form-control" id="confirmpassword"
										placeholder="Confirm password" required />
								</div>
							</div>

							<div class="row">
								<br>
								<br>
								<p align="center">
									<button style="display: inline-block;" type="submit"
										style="margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:0%"
										data-ng-click='registerTester()' class="btn btn-primary">Register
										As Tester</button>
									<button style="display: inline-block;" type="submit"
										style="margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:0%"
										data-ng-click='registerClient()' class="btn btn-primary">Register
										As Client</button>
								</p>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
