<!DOCTYPE html>
<html data-ng-app="testerBuglistApp">
<head>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!-- AngularJS script -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <script src = "../JS/testerbuglist.js"></script> 
<link rel="stylesheet" href="../CSS/testerbuglist.css" />
</head>


<body data-ng-controller="testerBuglistAppCtrl">
<header id="heading">
		<nav>
			<h2 align="center">
				<i><b>Crowd Sourced Testing</b></i>
			</h2>
		</nav>
	</header>
<nav  class="navbar navbar-default">
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
					<li><a href="#" data-ng-click="back()"><span><button type="button" class="btn btn-primary"
							data-ng-click="back()">Back</button></span></a></li>
				</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a><button type="button" class="btn btn-primary"
									data-ng-click="logout()">Log Out</button> </a></li>
									<li><a><button type="button" class="btn btn-primary"
									data-ng-click="dashboard()">Dashboard</button> </a></li>
					</ul>
				</div>
			</nav>

<div class="container">
<div class="panel panel-default">
					<div class="panel-body">
<h3>Bugs</h3>

<table class="table table-striped" >
<tr><th>Bug Descrption </th><th>Bug Type</th><th>Incentive</th></tr>
<tr data-ng-repeat="bug in users"><td>{{ bug.bugDescription }}</td><td>{{ bug.bugType }}</td>
<td data-ng-show ="bug.bugType == 'critical'">{{ critical }}</td>
    <td data-ng-show ="bug.bugType == 'high'">{{ high }}</td>
    <td data-ng-show ="bug.bugType == 'low'">{{ low }}</td>
</tr>

</table>

</div></div>
<div><button type="button" class="btn btn-primary"  data-ng-click="calculateIcentives()">Calculate Incentives</button>
<div style="margin-left: 65%; display: inline"> <b>{{total}} </b></div></div>
</div>
</body>
</html>